@model IEnumerable<Mvc02.Models.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Search">
    <div>
        <input type="search" name="q" placeholder="Search for category..." size="30">
        <button>Search</button>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-controller="Products" asp-route-id="@item.Id">All products in category @item.Name</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                @*asp-action="Index"*@
            </tr>
        }
    </tbody>
</table>
